<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Trocchi&family=Work+Sans:wght@400;600&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <script src="https://kit.fontawesome.com/da062fcd30.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="dist/app.css">
    <title>Avada Pet Supplies</title>
</head>
<body>
    <div id="app">

        <header>

            <section class="container">

                <div class="mynav_pt1">
    
                    <div class="logo_img">

                        <img src="imgs/dark-pet-logo.png" alt="">
                        
                    </div>
                    <div class="navbar_search">
                        <i class="fas fa-search"></i>
                        <input type="text" placeholder="Search...">
                    </div>
                    <span><strong>Questions?</strong> Call us: {{contactsInfo.supportPhoneNumber}}</span>
                    <div class="navbar_icons">
                    
                        <i class="fas fa-shopping-bag"></i>
                        <i class="fas fa-user"></i>
    
                    </div>
    
                </div>

            </section>
            <div class="nav_line"></div>
            <section class="container">

                <div class="mynav_pt2">
                    <ul>
                        <li v-for='menuItem in menu'>
                            <a :href="menuItem.link">{{menuItem.name}}
                                <i v-if=menuItem.dd class="fas fa-chevron-down"></i>
                            </a>
                        </li>
                    </ul>
                </div>

            </section>

        </header>
        <main>

            <section class="first_green_line">

                <div class="container first_green_line_text">

                    <div>
    
                        <i class="far fa-map"></i>
                        <span><strong>International</strong> Shipping Services</span>
                    </div>
    
                    <div>
    
                        <i class="far fa-clock"></i>
                        <span>See our <strong>store hours</strong> and services</span>
                    </div>
    
                    <div>
    
                        <i class="fas fa-check"></i>
                        <span>We price match to give you the <strong>best deals</strong></span>
                    </div>

                </div>


            </section>
            <section class="jumbotron">

                <div class="container">
                    
                    <div class="row">

                        <div class="col-6 jumbotron_text">

                            <span><strong>FIND THE BEST ANIMAL SUPPLIES</strong></span>
                            <h1>We know animals are a part of your family, let us help take care of them.</h1>

                            <button class="my_btn"><strong>Learn more about us</strong></button>

                        </div>

                    </div>

                </div>

            </section>
            <div class="second_green_line">

                <div class="container second_green_line_text">
                    
                    <div>

                        <img src="imgs/food-transparent-5-200x112.png" alt="">

                    </div>
                    <span><strong>Get $25 OFF your first purchase of our homemade pet food!</strong></span>
                    <a :href="shopLink"><strong>Visit the shop</strong></a>

                </div>

            </div>
            <section class="shop_pt1">

                <div class="container">

                    <section class="row">
                        
                        <div class="col-6 mx-auto browse_category">
                            
                            <h2><strong>Browse by  category</strong></h2>
                            <span>Augue purus et, tincidunt condimentum mauris. At nibh rutrum mi in. Nisi, vitae interdum eleifend dui, consequat nulla rhoncus dictum. Viverra.</span>
    
                        </div>

                    </section>
                    <section class="row categories">

                        <div class="col-3 category_box">
                            <img src="/imgs/product-9.jpg" alt="">
                            <span>Bed (1)</span>
                        </div>
                        <div class="col-3 category_box">
                            <img src="/imgs/product-3.jpg" alt="">
                            <span>Food (6)</span>
                        </div>
                        <div class="col-3 category_box">
                            <img src="/imgs/product-2.jpg" alt="">
                            <span>Toys (6)</span>
                        </div>
                        <div class="col-3 category_box">
                            <img src="/imgs/product-4.jpg" alt="">
                            <span>Transport (6)</span>
                        </div>

                    </section>
                    <section class="row food">

                        <div class="col food_box fb1">
                            <h2><strong>Kibble</strong></h2>
                            <span>Dry dog food</span>
                            <img src="/imgs/food-transparent-18.png" alt="">
                            <button class="my_btn_reverse"><strong>Shop dry food</strong></button>
                        </div>
                        <div class="col food_box fb2">
                            <h2><strong>Moist</strong></h2>
                            <span>Canned dog food</span>
                            <img src="/imgs/food-transparent-17.png" alt="">
                            <button class="my_btn_reverse"><strong>Shop moist food</strong></button>
                        </div>
                        <div class="col food_box fb3">
                            <h2><strong>Frozen</strong></h2>
                            <span>Freeze-dried dog food</span>
                            <img src="/imgs/food-transparent-16.png" alt="">
                            <button class="my_btn_reverse"><strong>Shop frozen food</strong></button>
                        </div>

                    </section>
                    <section class="row banner_new_arrivals">

                        <div class="col jumbotron_text">

                            <span><strong>FIND THE BEST ANIMAL SUPPLIES</strong></span>
                            <h1>New arrivals weekly.</h1>
                            <button class="my_btn"><strong>Learn more about us</strong></button>

                        </div>

                    </section>
                    <section class="best_sellers">

                        <div class="row">

                            <div class="col">
    
                                <div class="best_seller_text">
    
                                    <span>All-time best sellers</span>
                                    <h2>Items everyone loves</h2>
    
                                </div>
                                <div>
    
                                    <button class="my_btn_reverse">View all Porducts</button>
    
                                </div>
    
                            </div>

                        </div>
                        <div class="row">

                            <div class="col-3 category_box">
                                <img src="/imgs/product-21.jpg" alt="">
                                <p>Transport Cage</p>
                                <span>$25.00</span>
                            </div>
                            <div class="col-3 category_box">
                                <img src="/imgs/product-20.jpg" alt="">
                                <p>Dog leash</p>
                                <span>$25.00</span>
                            </div>
                            <div class="col-3 category_box">
                                <img src="/imgs/product-16.jpg" alt="">
                                <p>Animal transport cage</p>
                                <span>$25.00</span>
                            </div>
                            <div class="col-3 category_box">
                                <img src="/imgs/product-11.jpg" alt="">
                                <p>Colorful cat leash</p>
                                <span>$12.00</span>
                            </div>

                        </div>

                    </section>

                </div>

            </section>
            <section>

                <div class="shop_half_break">

                    <div class="green_block">

                        <div class="container">

                            <h2>Users testimonials</h2>

                            <div class="row">

                                <div class="col-4 testimonials_box">
                                    <img src="/imgs/avatar-3.jpg" alt="">
                                    <p>Auctor est habitasse amet nunc, interdum vel mattis sodales cras. Ut nulla quis nunc, tincidunt eu. Eu.</p>
                                    <span>Lisa Smith, ThemeFusion</span>
                                </div>
                                <div class="col-4 testimonials_box">
                                    <img src="/imgs/avatar-1.jpg" alt="">
                                    <p>Donec sollicitudin molestie malesuada. Vivamus suscipit tortor eget felis porttitor volutpat vestibulum ac diam.</p>
                                    <span>Melissa Green, ThemeFusion</span>
                                </div>
                                <div class="col-4 testimonials_box">
                                    <img src="/imgs/avatar-4.jpg" alt="">
                                    <p>Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Proin eget tortor risus vestibulum ante ipsum.</p>
                                    <span>Sam Lewis, ThemeFusion</span>
                                </div>

                            </div>

                        </div>

                    </div>
                    <div class="container">

                        <div class="row join_newsletter">
    
                            <div class="col-6">
    
                                <h2>Join newsletter</h2>
                                <p>Volutpat vel turpis nulla lorem sed semper. Aliquam sagittis sem libero viverra vehicula nullam ut nisl.</p>
                                <section>
                                    <input type="email" placeholder="Insert your email ...*">
                                    <button class="my_btn_reverse">Subscribe</button>
                                </section>

                            </div>
    
                        </div>

                    </div>
                    <div class="container tip_tricks">
    
                        <div class="row">

                            <div class="col tip_tricks_text">

                                <h2>Get the best tips & tricks</h2>
                                <span>Recent articles</span>

                            </div>

                        </div>
                        <div class="row">

                            <div class="col-3 category_box">
                                <img src="/imgs/blog-1.jpg" alt="">
                                <p>how to 'loose leash walk' your dog</p>
                                <span>April 21st, 2020</span>
                            </div>
                            <div class="col-3 category_box">
                                <img src="/imgs/blog-2.jpg" alt="">
                                <p>Stop cats from scratching furniture</p>
                                <span>April 19th, 2020</span>
                            </div>
                            <div class="col-3 category_box">
                                <img src="/imgs/blog-3.jpg" alt="">
                                <p>Where to buy the best pet food</p>
                                <span>April 18th, 2020</span>
                            </div>
                            <div class="col-3 category_box">
                                <img src="/imgs/blog-4.jpg" alt="">
                                <p>Proper care for your pet toys</p>
                                <span>April 17th, 2020</span>
                            </div>

                        </div>
                        <div class="read_all">

                            <button class="my_btn_reverse">Read all articles</button>

                        </div>
    
                    </div>
                    
                </div>

            </section>
            <section class="shop_pt2">

                <div class="row">

                    <div class="col bg-dog">

                        <span>FIND THE BEST ANIMAL SUPPLIES</span>
                        <h2>Popular accessories</h2>
                        <button class="my_btn"><strong>View all toys accessories</strong></button>

                    </div>
                    <div class="col bg-cat">

                        <span>FIND THE BEST ANIMAL FOOD</span>
                        <h2>New food arrival</h2>
                        <button class="my_btn"><strong>View all food products</strong></button>

                    </div>

                </div>
                <div class="third_green_line">

                    <div class="container">

                        <div class="row">
    
                            <div class="col-3 features_box">
                                <i class="fas fa-truck"></i>
                                <p>Free worldwide deliveries</p>
                            </div>
                            <div class="col-3 features_box">
                                <i class="fas fa-map"></i>
                                <p>Find stores near you</p>
                            </div>
                            <div class="col-3 features_box">
                                <i class="fas fa-dollar-sign"></i>
                                <p>Best price guaranteed</p>
                            </div>
                            <div class="col-3 features_box">
                                <i class="fas fa-credit-card"></i>
                                <p>Free worldwide deliveries</p>
                            </div>

                        </div>

                    </div>

                </div>
                <div class="new_arrivals">

                    <div class="container">

                        <div class="row">

                            <div class="col new_arrivals_text">
                                <h2>New products arrival</h2>
                                <span>Latest product</span>
                            </div>

                        </div>
                        <div class="row">

                            <div class="col-4 new_arrivals_box">
                                <img src="/imgs/product-8.jpg" alt="">
                                <p>Transport Cage</p>
                                <span>$25.00</span>
                            </div>
                            <div class="col-4 new_arrivals_box">
                                <img src="/imgs/product-2.jpg" alt="">
                                <p>Dog leash</p>
                                <span>$25.00</span>
                            </div>
                            <div class="col-4 new_arrivals_box">
                                <img src="/imgs/product-3.jpg" alt="">
                                <p>Animal transport cage</p>
                                <span>$25.00</span>
                            </div>

                        </div>
                        <div class="row">

                            <div class="col-4 new_arrivals_box">
                                <img src="/imgs/product-4.jpg" alt="">
                                <p>Transport Cage</p>
                                <span>$25.00</span>
                            </div>
                            <div class="col-4 new_arrivals_box">
                                <img src="/imgs/product-5.jpg" alt="">
                                <p>Dog leash</p>
                                <span>$25.00</span>
                            </div>
                            <div class="col-4 new_arrivals_box">
                                <img src="/imgs/product-10.jpg" alt="">
                                <p>Animal transport cage</p>
                                <span>$25.00</span>
                            </div>

                        </div>

                    </div>

                </div>

            </section>
    
        </main>
        <footer>

            <section class="footer_top">

                <div class="container">

                    <div class="row">

                        <div class="col-3 logo_info">

                            <img src="/imgs/mobile-light-pet-logo-2x.png" alt="">
                            <a href="#">{{contactsInfo.address}}</a>
                            <a href="#">{{contactsInfo.emailAddress}}</a>
                            <a href="#">Call Us: {{contactsInfo.phoneNumber}}</a>

                        </div>
                        <div class="col-3 footer_brands">

                            <p>Shop By Brand</p>
                            <span>Bed</span>
                            <span>Food</span>
                            <span>Toys</span>
                            <span>Transport</span>

                        </div>
                        <div class="col-3 footer_brands">
                            
                            <p>Useful links</p>
                            <a :href="usefulLinks.account">My account</a>
                            <a :href="usefulLinks.orders">Orders</a>
                            <a :href="usefulLinks.checkout">Checkout</a>
                            <a :href="usefulLinks.cart">Cart</a>

                        </div>
                        <div class="col-3 bg_box_footer">
                            
                            <p>Subscribe to our newsletter</p>
                            <section>
                                <input type="email" placeholder="Insert your email ...*">
                                <button class="my_btn_reverse">Subscribe</button>
                            </section>

                        </div>

                    </div>

                </div>

            </section>
            <div class="container footer-line"></div>
            <section class="footer_bottom">
                
            </section>
        </footer>

    </div>
    <script src="js/app.js"></script>

</body>
</html>