*{
    padding: 0;
    margin: 0;
    font-family: $primary_Font;
    font-weight: 300;
    transition: $transitions;
    // overflow-x: hidden;
}
h1, h2, h3, h4, h5, h6{
    font-family: $secondary_font;
}
section{
    padding-top: $spacing / 1.5;
    padding-bottom: $spacing / 1.5;
}
strong{
    font-weight: 600;
}
.my_btn{
    padding: $spacing / 2 $spacing;
    border-radius: 30px;
    width: 250px;
    background-color: $primary_color;
    border: 0px;
    &:hover{
        background-color: $hover_green;
        color: $primary_color;
    }
}
.my_btn_reverse{
    padding: $spacing / 4 $spacing;
    border-radius: 30px;
    width: 200px;
    background-color: $hover_green;
    color: $primary_color;
    border: 0px;
    &:hover{
        background-color: $text_green;
    }
}