.first_green_line{
    @include green_line;
    .first_green_line_text{
        display: flex;
        justify-content: space-around;
    }
}
.second_green_line{
    @include green_line;
    // position: relative;
    .second_green_line_text{
        img{
            padding-top: $spacing / 1.5;
            // position: absolute;
            // bottom: 0;
            // padding-bottom: 0;
        };
        display: flex;
        justify-content: center;
        align-items: center;
        div, span, a{
            padding: 0 ($spacing / 2);
        }
        a{
            color: $third_text;
        }
    }
}
.shop_half_break{
    position: relative;
    .green_block{
        @include green_line;
        .testimonials_box{
            display: flex;
            align-items: center;
            flex-direction: column;
            padding: 0 ($spacing * 2);
            text-align: center;
            img{
                width: 25%;
                height: auto;
                border-radius: 50%;
            }
            p{
                padding: $spacing 0;
            }
            span{
                color: $third_text;
            }
        }
        h2{
            display: flex;
            justify-content: center;
        }
        div{
            padding: ($spacing * 2) 0;
        }
    }
}