.first_green_line{
    @include green_line;
    .first_green_line_text{
        display: flex;
        justify-content: space-around;
    }
}
.second_green_line{
    @include green_line;
    // position: relative;
    .second_green_line_text{
        img{
            padding-top: $spacing / 1.5;
            // position: absolute;
            // bottom: 0;
            // padding-bottom: 0;
        };
        display: flex;
        justify-content: center;
        align-items: center;
        div, span, a{
            padding: 0 ($spacing / 2);
        }
        a{
            color: $third_text;
        }
    }
}