main{
    .jumbotron{
        background-image: url('/imgs/banner-5-2x-scaled.jpg');
        opacity: rgba(0, 0, 0, 1);
        @include banner;
        // h1{
        //     font-family: $secondary_font;
        //     font-size: 3rem;
        //     padding: $spacing 0;
        // }
        .jumbotron_text{
            // @include bold;
            padding: ($spacing * 4) 0;
        }
    }
    .shop_pt1{
        img{
            padding: 0;
        }
        .browse_category{
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: $spacing 0;
            h4{
                font-family: $secondary_font;
            }
        }
        .category_box{
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 0 5px ($spacing * 3) 5px;
            span{
                padding: ($spacing / 2) 0;
            }
            img{
                width: 100%;
                object-fit: cover;
            }
        }
        .food_box{
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: ($spacing * 2.5) 0;
            color: $primary_text;
            // background: $primary_green;


            // background: #eb01a5;
            background-image: url("/imgs/bg-transparent-3.png"); /* fallback */
            background-image: url("/imgs/bg-transparent-3.png"), linear-gradient($primary_green, rgba(30,49,32,0.9)); 

            // background: linear-gradient(to bottom, transparent, $primary_green), url('/imgs/bg-transparent-3.png');
            // @include green_line;
            h4{
                font-family: $secondary_font;
            }
            span{
                color: $hover_green;
            }
            img{
                padding: $spacing 0;
                width: 60%;
            }
            &:hover{
                transform: scale(1.025);
            }
            
        }
        .fb1{
            margin-right: 5px;
        }
        .fb2{
            margin: 0 5px;
        }
        .fb3{
            margin-left: 5px;
        }
        .banner_new_arrivals{
            // position: relative;
            background-image: url(/imgs/banner-3-2x-scaled.jpg);
            @include banner;
            padding: ($spacing * 4) 0;
            div{
                display: flex;
                flex-direction: column;
                align-items: center;
            }
        }
        .best_sellers{
            span{
                color: $hover_green;
                @include bold;
            }div{
                display: flex;
                justify-content: space-between;
                padding: ($spacing / 3) 0;
            }
            h2{
                padding: ($spacing / 2) 0
            }
            .best_seller_text{
                flex-direction: column
            }
            .category_box{
                padding: 0 10px ($spacing) 10px;
                p{
                    padding: ($spacing / 2) 0;
                    margin-bottom: 0;
                }
                span{
                    padding: 0
                }
            }
            button{
                @include bold;
                align-self: center;
            }
        }
    }
    .shop_half_break{
        .join_newsletter{
            // display: flex;
            transform: translateY(-15%);
            @include banner;
            color: $secondary_text;
            background-image: url(/imgs/banner-7-2x-scaled.jpg);
            p{
                padding: $spacing 0;
            }
            div{
                padding: $spacing * 2.5;
                input{
                    @include input;
                    padding: 5px 20px;
                }
            }
        }
        .tip_tricks{
            .tip_tricks_text{
                display: flex;
                flex-direction: column;
                align-items: center;
                span{
                    color: $hover_green;
                }
            }
            .category_box{
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                padding: 0 10px ($spacing * 2) 10px;
                p{
                    padding:  ($spacing * 1);
                    padding-bottom: ($spacing * 0.2);
                    margin-bottom: 0;
                    font-size: 1.5rem;
                }
                span{
                    padding: 0 ($spacing * 1);
                    color: $third_text;
                    font-size: 0.8rem;
                }
                img{
                    width: 100%;
                    object-fit: cover;
                }
            }
            .read_all{
                display: flex;
                justify-content: center;
                padding-bottom: ($spacing * 2);
            }
        }
    }
    .shop_pt2{
        button{
            font-size: 0.7rem;
            width: 200px;
        }
        .bg-dog{
            padding: ($spacing * 2) 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            @include banner;
            background-image: url('/imgs/banner-8-2x.jpg');
            span{
                font-weight: $font_bold;
            }
            &:hover{
                transform: scale(1.025);
            }
        }
        .bg-cat{
            padding: ($spacing * 2) 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            @include banner;
            background-image: url('/imgs/banner-9-2x.jpg');
            span{
                font-weight: $font_bold;
            }
            &:hover{
                transform: scale(1.025);
            }
        }
        .new_arrivals{
            .new_arrivals_text{
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: $spacing * 2;
                span{
                    color: $hover_green;
                }
            }
            .new_arrivals_box{
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 0 10px ($spacing * 2) 10px;
                p{
                    padding:  ($spacing * 1);
                    padding-bottom: 0;
                    margin-bottom: 0;
                    // font-size: 1.5rem;
                }
                span{
                    padding: 0 ($spacing * 1);
                    color: $hover_green;
                    font-size: 0.8rem;
                }
                img{
                    width: 100%;
                    object-fit: cover;
                }
            }
        }
    }
}