@mixin green_line {
    background-color: $primary_green;
    background-image: url('../../imgs/bg-transparent-3.png');
    color: $primary_text;
}

@mixin banner {
    background-size: cover;
    background-size: 100% 100%; 
    color: $primary_text;
    overflow: hidden;
    h1{
        font-size: 3rem;
        padding: $spacing 0;
    }
    h2{
        font-size: 2rem;
        padding: $spacing 0;
    }
}

@mixin bold {
    font-weight: $font_bold;
}
@mixin light {
    font-weight: $font_light;
}
@mixin input {
    background-color: lightgray;
    border: 0px;
    padding: 5px 40px;
    border-radius: 30px;
}

@mixin footer_col {
    display: flex;
    flex-direction: column;
}