// Fonts
$primary_Font: 'Work Sans', sans-serif;
$secondary_font: 'Trocchi', serif;

// Colors
$primary_color: #ffffff;
$primary_green: #1e3020;

// Text
$text_green: #2a382a;
$primary_text: #ffffff;
$secondary_text: #09110a;
$third_text: #978f88;

// Various
$spacing: 30px;
$line_color: #DCD5D0;
$hover_green: #3d6f42











//sistemare padding nav 1
//sistemare font in *